exclude README.md
exclude SECURITY.md

prune docs
prune tests
prune .github
prune .devcontainer
prune .vscode
prune src/render_engine.egg-info

exclude uv.lock
exclude .gitignore
exclude .all-contributorsrc
exclude .markdownlint.json
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude coverage-badge.svg
exclude justfile
exclude noxfile.py
exclude src/render_engine/.gitignore
exclude src/render_engine/py.typed
