[[source]]
name = "pypi"
url = "https://pypi.org/simple"

[[source]]
name = "pythonhosted"
url = "https://files.pythonhosted.org"

[[source]]
name = "pypi - test"
url = "https://test.pypi.org/simple"

[dev-packages]
pytest = "*"
v = {editable = true,version = "*"}
pytest-mock = "*"
twine = "*"
mkdocs = "*"
pytest-cov = "*"

[packages]
maya = "*"
jinja2 = "*"
twine = "*"
pyyaml = "*"
markdown = "*"
wheel = "*"

[requires]

[pipenv]
allow_prereleases = true
