[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[[source]]
name = "pythonhosted"
url = "https://files.pythonhosted.org"
verify_ssl = false

[[source]]
name = "pypi - test"
url = "https://test.pypi.org/simple"
verify_ssl = false

[dev-packages]
pytest = "*"
v = {editable = true,version = "*"}
pytest-mock = "*"
twine = "*"
render-engine = "*"
mkdocs = "*"

[packages]
maya = "*"
jinja2 = "*"
twine = "*"
pyyaml = "*"
markdown = "*"
wheel = "*"

[requires]

[pipenv]
allow_prereleases = true
