[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[[source]]
name = "pythonhosted"
url = "https://files.pythonhosted.org"
verify_ssl = false

[dev-packages]

[packages]
configparser = "*"
arrow = "*"

[requires]
python_version = "3.7"
