[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "render_engine"
version = "2023.1.3a5"
description = "A Flexible Static Site Generator for Python"
readme = "README.md"

dependencies = [
    "Jinja2",
    "markdown2",
    "more-itertools",
    "pendulum",
    "pluggy",
    "python-frontmatter",
    "python-slugify",
    "rich",
    "typer",
    "dtyper",
    "chevron",
]

[project.optional-dependencies]
dev = ["pytest", "pytest-mock"]
docs = ["mkdocs", "mkdocs-material", "mkdocstrings[python]"]

[tool.setuptools]
package-dir = {"" = "src"}

[project.urls]
homepage = "https://github.com/kjaymiller/render_engine/"
repository = "https://github.com/kjaymiller/render_engine/"
documentation = "https://render-engine.readthedocs.io/en/latest/"

[tool.setuptools.package-data]
"*" = ["*.html", "*.txt", "*.xml", "*.md"]

[project.scripts]
render-engine = "render_engine.cli:cli"

[tool.pytest.ini_options]
pythonpath = ["src"]
