name: Format and Lint
on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  lint-python:
    name: Format and Lint Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "ruff==0.11.12"
      - name: Check Linting
        run: ruff check . --output-format=github
      - name: Check formatting
        run: ruff format . --check

  lint-docs:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2
      - name: Linting with docs
        run: bunx markdownlint-cli2 **/*.md
