name: Build distribution

on:
  release:
    types: [created]

jobs:
  test:
    uses: ./.github/workflows/test.yml
  deploy:
    needs: test
    name: Deploy to PyPI
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install build dependencies
        run: python -m pip install build twine

      - name: Build distributions
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
