name: PyTest
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/test.yml"
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
      - "requirements.txt"

jobs:
  gen-coverage-badge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"

      - name: run coverage and generate cov-report
        run: |
          uv run --dev pytest --cov-report xml
      - name: genbadge coverage
        run: |
          uvx --with "genbadge[coverage]" genbadge coverage -i coverage.xml
      - name: Commit Badge
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update coverage badge [skip ci]
          file_pattern: coverage.svg

  test-against-python-matrix:
    # Only test all the supported versions when a pull request is made or the workflow is called
    if: ${{github.event_name == 'workflow_call'}} || ${{github.event_name == 'pull_request'}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
      fail-fast: true
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip" # caching pip dependencies
      - name: Install requirements
        run: |
          python -m pip install -e .[dev]
      - name: Run tests
        run: |
          python -m pytest

  test-against-latest-os:
    # Always run against the latest version on both Windows, Linux, MacOS
    if: github.event.pull_request.user.login != 'dependabot[bot]'
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip" # caching pip dependencies
      - name: Install requirements
        run: |
          python -m pip install -e .[dev]
      - name: Run tests
        run: |
          python -m pytest
      - name: coverage
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report-${{ matrix.os }}
          path: .coverage
          overwrite: true
