name: Type Check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
        - main

  workflow_dispatch:

env:
  TY_PATH: 'src'

jobs:
  ty_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: astral-sh/setup-uv@v7
        with:
            python-version: "3.12"
            enable-cache: true
      - name: Sync dependencies
        run: uv sync --dev
      - name: Run type (ty) check
        run: uvx ty check ${{ env.TY_PATH }}
